.bg{
    background-color: rgb(143, 193, 158);
  
}
.Container{
    text-align: center;
    margin-top:8px;
    color:rgb(1, 7, 2);
    }
table{
    margin:0px;
}
input{
  border-radius:21px;
  border:5px solid #244624;
  font-size:34px;
  height:45px;
  width:200px;
}
button{
    border-radius:20px;
    font-size:29px;
    color:turquoise;
    background:#978fa0;
    width:102px;
    height: 90px;
    margin:6px;
}
.calculator{
    border:2px solid #13695d;
   display:inline-block;
     background-color:#99ffda;
padding:15px;
border-radius:30px;
}
h1{
    font-size:30px;
    font-family:'Courier New', Courier, monospace;

}